.header {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.home-icon {
    padding-left: 0.5rem;
    cursor: pointer;
}

.home-icon:hover {
    color: #16a8e6;
}

.karo{
    width: 130vh;
    margin-left: 33vh;
    margin-right: 33vh;
    cursor: default;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1rem;
    padding-right: 1rem;
}

.notification-icon {
    padding: 0.1rem;
    font-size: 2rem;
    cursor: pointer;
}

.notification-icon:hover {
    color: #16a8e6;
}

.account-icon {
    padding: 0.1rem;
    font-size: 2rem;
    cursor: pointer;
}

.account-icon:hover {
    color: #16a8e6;
}