.header {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
}

.home-icon {
    padding-left: 0.5rem;
    cursor: pointer;
}

.home-icon:hover {
    color: #16a8e6;
}

.karo{
    width: 130vh;
    margin-left: 33vh;
    margin-right: 33vh;
    cursor: default;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1rem;
    padding-right: 1rem;
}

.notification-icon {
    padding: 0.1rem;
    font-size: 2rem;
    cursor: pointer;
}

.notification-icon:hover {
    color: #16a8e6;
}

.account-icon {
    padding: 0.1rem;
    font-size: 2rem;
    cursor: pointer;
}

.account-icon:hover {
    color: #16a8e6;
}

.dropdown {
    position: absolute;
    top: 1.6rem;
    right: 0.1rem;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding-left: 0;
}

.dropdown-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.1rem solid whitesmoke;
}

.dropdown-element:hover {
    background-color: #16a8e6;
    color: white;
}

.admin-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.1rem solid whitesmoke;
}

.admin-logout:hover {
    background-color: #16a8e6;
    color: white;
}

.create-manager {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.1rem solid whitesmoke;
}

.create-manager:hover {
    background-color: #16a8e6;
    color: white;
}

.create-parking-lot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.1rem solid whitesmoke;
}

.create-parking-lot:hover {
    background-color: #16a8e6;
    color: white;
}

.manager-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.1rem solid whitesmoke;
}

.manager-logout:hover {
    background-color: #16a8e6;
    color: white;
}